@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="page-wrap">
  <div class="page-content">
    <div class="content">
<!--      注册    -->
      <div id="sign-up">
        <div class="user-form">
          <form action="/user/login" method="post" class="sign-in-form user-form-form">
            
<!--      用户名        -->
            <div class="user-form-fieldset">
              <label class="user-form-label" for="name">用户名：</label>
              <input class="user-form-field" type="text" name="username" id="username" placeholder="用户名" />
            </div>
            
<!--       密码       -->
            <div class="user-form-fieldset">
              <label class="user-form-label" for="password">密码：</label>
              <input class="user-form-field" type="password" name="password" id="password" placeholder="密码" />
            </div>
            
            <button type="submit" class="sign-up-button user-form-button">登录</button>
        </form> 
        </div>
      </div> 
    </div>
  </div>
</div>
</body>
</html>

<style type="text/css">
    body {
  font: normal 14px "Helvetica Neue", Arial, sans-serif;
}
.page-wrap {
  height: 100%;
}
.page-content {
  position: relative;
  width: 100%;
  background: #fefefe;
}
.content {
  max-width: 1130px;
  _width: 1130px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.user-form {
  background: #eef1f3;
  text-align: center;
  padding: 40px;
}
.user-form {
  width: 40%;
  margin-left: 20%;
  float: left;
/*   float: right; */
  display: inline;
}
.user-form-fieldset {
  width: 80%;
  margin: 0 auto 20px;
  position: relative;
}
.user-form-label {
  display: block;
  font-size: 14px;
  text-align: left;
  padding: 5px 2px;
  letter-spacing: 5px;
}
.user-form-field {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #c1d0d9;
  background: #fefefe;
  border-radius: 5px;
}
.user-form-button {
  display: inline-block;
  white-space: nowrap;
  border-radius: 5px;
  border: none;
  color: #fcfcfc;
  background: #0f56a3;
  cursor: pointer;
}
.sign-up-button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 47px;
  line-height: 45px;
  font-size: 18px;
}
#sign-up .cellphone {
  width: 50%;
  float: left;
}
#sign-up .vercode-button {
  padding: 10px  0;
  width: 40%;
}
</style>
